pyzmq==21.0.1
supervisor==4.2.1 
tornado==6.1
picamera==1.13
imutils==0.5.4
python-periphery==2.2.0
cython==0.29.21
jupyter==1.0.0
jupyterlab==3.0.17
ipywebrtc==0.5.0
google-auth==1.24.0
oauthlib==3.1.0
